<footer class="site-footer">

  <div class="container">
    <div class="footer-content">
      <div class="footer-column column-left">
        <a href={{ "/" | prepend: site.url }}>
          <img class="logo" src={{ "/assets/images/logo.png" | prepend: site.url }} alt="Scarborough Osteopathy" />
        </a>
      </div>
      <div class="footer-column column-middle">
        <li><a href="#about" class="smooth-scroll">About</a></li>
        <li><a href="#staff" class="smooth-scroll">Staff</a></li>
        <li><a href="#newpatients" class="smooth-scroll">New Patients</a></li>
        <li><a href="#contact" class="smooth-scroll">Contact</a></li>
        <li><a href="https://scarborough-osteopathy.cliniko.com/bookings" target="_blank">Make an Appointment</a></li>
      </div>
      <div class="footer-column column-right footer-footer">
        <div class="button-group">
          <a class="icon_bg" href="https://www.instagram.com/scarboro_osteo/" target="_blank"><img class="social_icons" src="./assets/images/ig_icon.png"></a>
          <a class="icon_bg" href="https://www.facebook.com/scarboroughosteopathy/" target="_blank"><img class="social_icons" src="./assets/images/fb_icon.png"></a>
        </div>
        <p><a href="https://scarborough-osteopathy.cliniko.com/bookings" target="_blank">Online Bookings</a> are powered by Clinko. For more information, see the <a href="https://www.cliniko.com/security" target="_blank">Clinko privacy policy</a>.</p>
        <p>Header photo by <a href="https://unsplash.com/photos/HOrR7PQMBj0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Austin Schmid</a>.</p>
        <p>Portrait photo by Taryn Langlois.</p>
        <p>Treatment photo by <a href="https://unsplash.com/@heftiba?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Toa Heftiba</a>.</p>
        <p>Made with &hearts; in the Channel Islands.</p>
        <p>&copy; Scarborough Osteopathy 2023</p>
      </div>
    </div>
  </div>


</footer>
