<header class="site-header">

  <div class="container navbar">
    <div class="brand">
      <a href={{ "/" | prepend: site.url }}>
        <img id="header_logo" src={{ "/assets/images/logotype.png" | prepend: site.url }} alt="Scarborough Osteopathy" />
      </a>
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <nav>
      <a href="#about" class="smooth-scroll">About</a>
      <a href="#staff" class="smooth-scroll">Staff</a>
      <a href="#newpatients" class="smooth-scroll">New Patients</a>
      <a href="#contact" class="smooth-scroll">Contact</a>
      <a class="btn header-btn" href="https://scarborough-osteopathy.cliniko.com/bookings" target="_blank">Make a Booking</a>
    </nav>

  </div>

</header>
