.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.brand {
  a {
    color: #fff;
    text-shadow: 0 0 4px rgba(0,0,0,0.4);
    font-size: 20px;
  }
}
nav {
  ul {
    list-style-type: none;
    li {
      margin-left: 15px;
      display: inline-block;
      a {
        font-weight: normal;
        color: $fifth-color;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}
